<!-- https://www.w3schools.com/css/default.asp -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page Ochner</title>
    <style type="text/css">@import url("static/style/style.css");</style>
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">

</head>
<body>

    <header>
        <h1>Bem-vindo a Página Inicial!</h1>
        <p>Esta é a página inicial do meu site.</p>
    </header>

    <main></main>
    <footer></footer>
    

    
</body>
</html>