*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    color: #094e5a;
}
p {
    font-size: 20px;
    color: #6c86a3;
    text-align: center;
}

